@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#gbtn {
  transition: ease 150ms;
  background: #46b063;
  border: none;
  border-radius: 3px;
  width: 100px;
  height: 30px;
}

#gbtn:hover {
  border-radius: 8px;
  background: #56bf73;
}

.gbtn {
  transition: ease 150ms;
  background: #46b063;
  border: none;
  border-radius: 3px;
  width: 100px;
  height: 30px;
}

.gbtn:hover {
  border-radius: 8px;
  background: #56bf73;
}

.modal-content {
  margin: auto;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  box-sizing: border-box;
  border-radius: 10px;
  width: 80%;
  border: 2px solid blue;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black
}

.inputBox input {
  transition: ease 70ms;
}

        .inputBox input:focus ~ label,
        .inputBox input:valid ~ label,
        .inputBox input:not([value=""]) ~ label {
            top: -1.125rem;
            left: 10px;
            color: #1a73e8;
            font-size: 0.75rem;
            background-color: white;
            height: 10px;
            padding-left: 5px;
            padding-right: 5px;
        }
        .inputBox input:focus {
            outline: none;
            border: 2px solid #1a73e8;
        }

.inputBox input {
                width: 93%;
                padding: 0.625rem 10px;
                font-size: 1rem;
                letter-spacing: 0.062rem;
                margin-bottom: 1.875rem;
                border: 1px solid #ccc;
                background: transparent;
                border-radius: 4px;
                
              }
.inputBox label {
                position: absolute;
                top: 0;
                left: 10px;
                padding: 0.625rem 0;
                font-size: 1rem;
                color: grey;
                pointer-events: none;
                transition: 0.5s;
              }

.inputBox input {
                width: 93%;
                padding: 0.625rem 10px;
                font-size: 1rem;
                letter-spacing: 0.062rem;
                margin-bottom: 1.875rem;
                border: 1px solid #ccc;
                background: transparent;
                border-radius: 4px;
                
              }

.inputBox {
                position: relative;
              }
    
