@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black
}

button {
  transition: ease 150ms;
  background: #1a73e8;
  border: none;
  border-radius: 3px;
  width: 100px;
  height: 30px;
}

button:hover {
  border-radius: 8px;
  background: #2c7de8;
}

.dropdownli {
  transition: background-size 400ms;
  text-decoration: none;
}

.dropdownli:hover {
  background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    )
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  background-size: 0 3px, 100% 3px;
}
